/* App.css */
.app {
  font-family: Arial, sans-serif;
  background-color: #fafafa;
  min-height: 100vh;
  padding: 20px;
}

.app .search-container {
  margin-bottom: 32px;
}

.app .date-picker-container {
  margin-bottom: 32px;
}

.app .weather-data-container {
  margin-top: 32px;
}
